<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/dfcb8597-c8bf-413e-b98d-77ecb891c5bc/resourcegroups/UrecResources/providers/Microsoft.Web/sites/YouRecWeb20211206160138</ResourceId>
    <ResourceGroup>UrecResources</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://yourecweb20211206160138.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>96f647fe-732a-4367-8736-83b649502005</ProjectGuid>
    <PublishUrl>https://yourecweb20211206160138.scm.azurewebsites.net/</PublishUrl>
    <UserName>$YouRecWeb20211206160138</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>